{{define "dal"}}
{{.GlobalLuaTable}} = {
    drivers = {},
    currentDriver = nil,
}

-- This function can be overwritten with your own implementation
function {{.GlobalLuaTable}}:OnError(err, query)
	print("Error running query: " .. (query or "unknown"), "\n", err)
end

---@param query string
---@param args any[]
---@param callback fun(result:any|nil, err:string|nil)
---@return any|nil, string|nil
function {{.GlobalLuaTable}}:runQuery(query, args, argCount, callback)
    self.currentDriver:Query(query, args, argCount, function(result, err)
        if err then
            self:OnError(err, query)
        end

        callback(result, err)
    end)
end

---@param name string
---@param opts table
function GMAudit.DAL:UseDriver(name, opts)
    self.currentDriver = self.drivers[name].constructor(opts)
end

---@param name string
---@param driver table
function GMAudit.DAL:RegisterDriver(name, driver)
    self.drivers[name] = driver
end

{{range .Filenames -}}
include("{{.}}")
{{end -}}

include("drivers/gmod.lua")
include("drivers/libsql.lua")

{{end}}


