{{define "dal"}}
{{.GlobalLuaTable}} = {}

-- This function can be overwritten with your own implementation
function {{.GlobalLuaTable}}:OnError(err, query)
	print("Error running query: " .. (query or "unknown"), "\n", err)
end

---@param query string
---@param ... any
---@return any|nil, string|nil
function {{.GlobalLuaTable}}:runQuery(query, ...)
    local result = sql.QueryTyped( query, ... )
    if result == false then
        local err = sql.LastError()

        self:OnError(err, query)
        return nil, err
    end
    return result, nil
end

{{range .Filenames -}}
include("{{.}}")
{{end -}}

{{end}}
